:root {
  /* Default Colors */
  --background-color: #faf9f6;
  --hover-color: #3300cc;
  --black-color: #28282b;
  --gray-color: #545456;
  --white-color: #fbfcfc;

  /* Default Box Shadow */
  --black-shadow: 0.1rem 0.2rem 0.5rem #57575f8e;

  /* Default Size Margin & Padding */
  --base-padding: 2rem;
  --base-margin: 2rem;

  /* Default Font Size */
  --main-font-size: 3.2rem;
  --sub-font-size: 1.6rem;

  /* Deafault Fonts */
  --nav-font: "Quicksand", sans-serif;
  --sub-font: "Open Sans", sans-serif;
  --kr-font-noto: "Noto Sans KR", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  list-style: none;
  text-decoration: none;
  color: var(--black-color);
}

/* Start Header */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5rem;
  color: var(--white-color);
}

header .home-tag {
  width: 40%;
  margin: 0 calc(var(--base-margin) * 2);
  font-size: var(--main-font-size);
  color: var(--black-color);
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

header nav a {
  margin: var(--base-margin);
  font-family: var(--nav-font);
  font-size: 1.6rem;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

header nav a:hover {
  transform: scale(1.2);
  color: var(--hover-color);
}

/* End of Header */

/* Start Main Page*/
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
}

.main-container section {
  height: 100vh;
}

.main-container .profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-container .profile-text {
  height: 5rem;
  margin: calc(var(--base-margin) * 2);
}

.profile-text span {
  font-size: var(--main-font-size);
  font-weight: 600;
}

.profile-container .profile-image {
  width: 40rem;
  height: 40rem;
  background-color: var(--white-color);
  border-radius: 50%;
}

.profile-image img {
  position: relative;
  left: 5rem;
  top: 5rem;
  width: 30rem;
  height: 30rem;
  animation: up-down 1.4s infinite ease-in-out alternate;
}

@keyframes up-down {
  from {
    transform: translatey(1rem);
  }
  to {
    transform: translatey(-1rem);
  }
}

.profile-container .profile-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40rem;
  height: 10rem;
  margin: calc(var(--base-margin) * 2);
}

.profile-links img {
  width: var(--main-font-size);
  height: var(--main-font-size);
  margin: var(--base-margin);
  cursor: pointer;
}
/* End of Main Page */

/* Start About Page */
.about-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

/* About-> Guest Section */
.about-container .about-guest {
  width: inherit;
  height: 100vh;
  padding: calc(var(--base-padding) * 2);
}

.about-guest__message {
  color: var(--black-color);
  line-height: 4.5rem;
  font-size: var(--main-font-size);
  font-family: var(--kr-font-dohyeon);
  font-weight: 600;
}

.half-highlight {
  background: linear-gradient(to top, #ffe400 60%, transparent 50%);
  color: inherit;
  line-height: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
}

.about-guest__input {
  all: unset;
  width: 20rem;
  margin: 2rem 0;
  border-bottom: solid 0.2rem var(--gray-color);
  font-size: calc(var(--main-font-size) * 0.7);
  font-family: var(--kr-font-dohyeon);
}

.about-guest__button {
  all: unset;
  width: 6rem;
  height: 3rem;
  margin: 0 calc(var(--base-margin) * 0.5);
  padding: 0.2rem;
  background-color: transparent;
  color: var(--gray-color);
  box-shadow: var(--black-shadow);
  border-radius: 0.8rem;
  text-align: center;
  font-family: var(--nav-font);
  font-size: calc(var(--main-font-size) * 0.7);
  cursor: pointer;
  transition: all ease-in-out 0.5s;
}

.about-guest__button:hover {
  background-color: #ffe400;
}

/* About -> Contents Section */
.about-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: inherit;
  height: inherit;
}

.about-contents__name {
  color: var(--gray-color);
  font-size: var(--main-font-size);
}

.hidden {
  visibility: hidden;
}

.disappear {
  animation: fade-out 1s;
  animation-fill-mode: forwards;
}

@keyframes fade-out {
  from {
    opacity: 1;
    height: 100vh;
  }
  to {
    opacity: 0;
    height: 0vh;
  }
}
